<h2>Make Changes to... <h1><%= @team.name %></h1></h2>
<form method="POST" action="/teams/<%=@team.id%>/edit">
<input type="hidden" value="PATCH" name="_method">
<h3>Team Name: <input type="text" name="name" value="<%=@team.name%>"></h3>
<ul>
<li> PG - <input type="text" name="team[point_guard]" value="<%=@team.point_guard%>"></li> 
<li> SG - <input type="text" name="team[shooting_guard]" value="<%=@team.shooting_guard%>"></li> 
<li> SF - <input type="text" name="team[small_forward]" value="<%=@team.small_forward%>"></li> 
<li> PF - <input type="text" name="team[power_forward]" value="<%=@team.power_forward%>"></li> 
<li> C -  <input type="text" name="team[center]" value="<%=@team.center%>"></li> 
<br>
<li> Coach -  <input type="text" name="team[coach]" value="<%=@team.coach%>"></li>
</ul>
<br>
<br>
<input type="submit" value="Update Team">

</form>