<h1>Make Changes to <%= @team.name %></h1>
<form method="POST" action="/teams/<%=@team.id%>/edit">
<input type="hidden" value="PATCH" name="_method">
<h3>Team Name: <input type="text" name="name"></h3>
<ul>
<li> PG - <input type="text" name="point_guard" value="<%=team.point_guard%>"></li> 
<li> SG - <input type="text" name="shooting_guard" value="<%=team.shooting_guard%>"></li> 
<li> SF - <input type="text" name="small_forward" value="<%=team.small_forward%>"></li> 
<li> PF - <input type="text" name="power_forward" value="<%=team.power_forward%>"></li> 
<li> C -  <input type="text" name="center" value="<%=team.center%>"></li> 
<br>
<li> Coach -  <input type="text" name="coach"></li>
</ul>
<br>
<br>
<input type="submit" value="Update Team">

</form>