<h1><%= @team.name %></h1>
    <ul>
    <li> PG -  <%= @team.point_guard %></li>
    <li> SG - <%= @team.shooting_guard %></li>
    <li> SF - <%= @team.small_forward %></li>
    <li> PF - <%= @team.power_forward %></li>
    <li> C - <%= @team.center %></li>
    <br>
    <br>
    <li> Coach: <%= @team.coach %></li>
    </ul>
    <br>
    <a href="/teams/<%= @team.id %>/edit">Update Roster for <%= @team.name%></a>

    <form method="POST" action="/teams/<%=@team.id%>">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="Delete Team">


    